// .anime{
//     .swiper {
//         @include img($wid:100%,$heit:100%);
//         position: relative;
//         .text{
//             // @media (max-width:1024px) { 
//             //     @include Img($pos:absolute,$top:5%,$left:0);
//             //     padding: 0px 50px;
//             //  }
//             padding: 0px 186px;
//             @include position($position:absolute,$top:15%,$left:50px,$z_index:999);
//             h2{
//                 @include text($f_style:normal,$f_weight:$weight_400,$f_size:41px,$l_heit:55px);
//                 font-family: 'Playfair Display', serif;
//                 span{ color: $red_color; }
//             }
//             .one{
//                 @include text($f_style:normal,$f_weight:$weight_400,$f_size:17px,$l_heit:29px,$colrs:$dark_gray);
//                 font-family: 'Lora', serif;
//                 padding: 20px 0px;
//             }
//             .sara{ @include img($wid:197px,$heit:56px); }
//         }
//         .swiper-slide {
//             @include Flex($j_content:center,$a_items:center,$f_direction:column);
//             img{
//                 @include Img($wid:$width_100,$o_fit:cover,$heit:477px);
//                 transform: scale(1);
//                 animation: scale 7s linear infinite alternate;
//                 @keyframes scale {
//                     to{
//                         transform: scale(1.09);
//                     }
//                     from{
//                         transform: scale(1);
//                     }
//                 }
//             }
//             p{
//                 padding: 30px 0px;
//                 width: 613px;
//                 @include Text($f_size:24px,$f_weight:$weight_400,$l_heit:36px,$f_style:italic,$t_align:center,$colrs:$swiper);
//                 font-family: 'Lora', serif;
//             }
//             .one{ @include Text($f_size:12px,$f_weight:$weight_500,$l_heit:24px,$f_style:normal,$colrs:$b1_color); }
            
//         }
//         .swiper-button-next{
//             @media (max-width:768px) { display: none; }
//             i{
//                 @include Text($f_size:40px,$colrs:$i_color);
//                 transition: .3s ease-in-out;
//                 &:hover{ color: $b1_color; }
//             }
//             &::after{ content: ''; }
//         }
//         .swiper-button-prev{
//             @media (max-width:768px) { display: none; }
//             i{
//                 @include Text($f_size:40px,$colrs:$i_color);
//                 transition: .3s ease-in-out;
//                 &:hover{ color: $b1_color; }
//             }
//             &::after{ content: ''; }
//         }
//       }
// }