@mixin Flex($j_content:null,$a_items:null,$gap:null,$f_direction:null){
    display: flex;
    justify-content: $j_content;
    align-items: $a_items;
    gap: $gap;
    flex-direction: $f_direction;
}
@mixin Img($wid:null,$heit:null,$o_fit:null,$o_pos:null,$flow:null,$pos:null,$top:null,$botom:null,$z_index:null,$left:null,$right:null,$opacity:null){
    width: $wid;
    height: $heit;
    object-fit: $o_fit;
    object-position: $o_pos;
    overflow: $flow;
    position: $pos;
    top: $top;
    bottom: $botom;
    z-index: $z_index;
    left: $left;
    right: $right;
    opacity: $opacity;
}
@mixin Text($t_decoration:null,$colrs:null,$f_size:null,$f_weight:null,$t_align:null,$ground:null,$border:null,$l_spacing:null,$l_heit:null,$radius:null,$f_style:null,$transform:null){
    text-decoration: $t_decoration;
    color: $colrs;
    font-size: $f_size;
    font-weight: $f_weight;
    text-align: $t_align;
    background: $ground;
    border: $border;
    letter-spacing: $l_spacing;
    line-height: $l_heit;
    border-radius: $radius;
    font-style: $f_style;
    text-transform: $transform;
}
@mixin Ground($ground_size:null,$ground_pos:null,$ground_color:null,$ground_repet:null,$ground_attachment:null){
    background-size: $ground_size;
    background-position: $ground_pos;
    background-color: $ground_color;
    background-repeat: $ground_repet;
    background-attachment: $ground_attachment;
}