@mixin flex($j_content: null, $a_items: null, $gap: null, $f_direction: null, $wrap:null) {
    display: flex;
    justify-content: $j_content;
    align-items: $a_items;
    gap: $gap;
    flex-direction: $f_direction;
    flex-wrap: $wrap;
}

@mixin img($wid: null, $heit: null, $o_fit: null, $o_pos: null) {
    width: $wid;
    height: $heit;
    object-fit: $o_fit;
    object-position: $o_pos;
}
@mixin position($position:null,$bottom:null,$top:null,$left:null,$right:null,$z_index:null, $flow: null, $inset: null){
    overflow: $flow;
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    z-index: $z_index;
    inset: $inset;
}

@mixin text($t_decoration: null, $colrs: null, $f_size: null, $f_weight: null, $t_align: null, $ground: null, $border: null, $l_spacing: null, $l_heit: null, $radius: null, $f_style: null, $t_transform:null) {
    text-decoration: $t_decoration;
    color: $colrs;
    font-size: $f_size;
    font-weight: $f_weight;
    text-align: $t_align;
    background: $ground;
    border: $border;
    letter-spacing: $l_spacing;
    line-height: $l_heit;
    border-radius: $radius;
    font-style: $f_style;
    text-transform: $t_transform;
}

@mixin ground($ground_size: null, $ground_pos: null, $ground_color: null, $ground_repet: null, $ground_attachment: null) {
    background-size: $ground_size;
    background-position: $ground_pos;
    background-color: $ground_color;
    background-repeat: $ground_repet;
    background-attachment: $ground_attachment;
}
$breakpoints:(
    small: 576px,
    medium: 768px,
    large: 992px,
    wide: 1200px
);
@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name ){
        @media (min-width: map-get($breakpoints, $name)) {
            @content;
        }
    } @else {
        @warn "Warning : `#{$name}` is not a valid breakpoint name.";
    }
}