$bc_color:#fefaf3;
$link_color:#8B8B8B;
$black_color:#000;
$weight_500:500;
$weight_400:400;
$line_color:#eceae1;
$red_color:#f34f3f;
$gray_color:#afafaf;
$tag_size:12px;
$line_h:24px;
$dark_gray:#6d6a6a;
$weight_300:300;
$sub_color:#f8f8f8;
$h2_color:#2b2b2b;
$width_100:100%;
$b1_color:#1b1b1b;
$swiper:#4B4747;