#video1{
    padding: 50px 0px;
    .row{
        @include Flex($f_direction:row-reverse);
        .img{
            @include Img($wid:$width_100,$flow:hidden,$pos:relative);
            img{
                @include Img($wid:$width_100,$heit:100%,$o_fit:cover,$o_pos:center);
                transform: scale(1);
                transition: .3s ease-in-out;
                &:hover{ transform: scale(1.04); }
            }
        }
        .text{
            padding: 0px 90px;
            h2{
                @include Text($f_style:normal,$f_weight:$weight_400,$f_size:38px,$l_heit:55px);
                font-family: 'Playfair Display', serif;
                span{ color: $red_color; }
            }
            .one{
                @include Text($f_style:normal,$f_weight:$weight_400,$f_size:17px,$l_heit:29px,$colrs:$dark_gray);
                font-family: 'Lora', serif;
                padding: 20px 0px;
            }
            .heart{
                @include Flex($a_items:center,$gap:10px);
                padding: 10px 0px;
                .two{
                    @include Text($f_style:normal,$f_weight:$weight_400,$f_size:17px,$l_heit:29px,$colrs:$dark_gray);
                    margin: 0;
                }
            }
        }
    }
}