.mobile-menu {
    @include breakpoint('wide'){
        display: none;
    }
    .cartBox{
        a{
            @include text($colrs: #1B1B1B, $f_size: 12px, $f_weight: 500, $l_heit: 12px, $l_spacing: 1.2px, $t_transform: uppercase);
        }
    }
    .nav-link {
        .close{
            text-align: end;
            button{
                border: none;
                background: none;
                width: 20px;
                color: #f34f3f;
                font-size: 20px;
            }
        }
        @include img($wid: 80%, $heit: 100vh);
        @include position($position:absolute,$right:0px,$z_index:11);
        background-color: $white_color;
        transform: translateX(100%);
        transition: .9s ease-in-out;
        padding: 0px 30px;
        li {
            padding-top: 20px;
            a {
                @include text($f_size: 12px, $f_style: normal, $f_weight: $weight_500, $l_heit: 22px, $colrs: $b1_color, $l_spacing: 1.2px, $t_decoration: none);
            }
        }
    }
    .burger{
        cursor: pointer;
        &:hover{
            button{
                &::after{
                    background:#f34f3f;
                }
                &::before{
                    background:#f34f3f;
                }
                span{
                    background:#f34f3f;
                }
            }
        }
       button{
        border: none;
        background: none;
        width: 20px;
        position: relative;
        &::after{
            content: '';
            @include position($position:absolute,$left:0,$top:-8px);
            @include img($wid:100%,$heit:2px);
            background:#6d6a6a;
            transition: all 0.3s ease-in-out;
        }
        &::before{
            content: '';
            @include position($position:absolute,$left:0,$top:-4px);
            @include img($wid:100%,$heit:2px);
            background:#6d6a6a;
            transition: all 0.3s ease-in-out;
        }
        span{
            @include position($position:absolute,$left:0);
            @include img($wid:100%,$heit:2px);
            background:#6d6a6a;
            transition: all 0.3s ease-in-out;
        }
       }
    }
    display: flex;
    gap: 12px;
}