.header {
    padding: 46px 0px;
    .all {
        @include flex($j_content: space-between, $a_items: center);
        .logo {
            width: 205px;
            img {
                @include img($wid: 100%, $o_fit: cover, $o_pos: center)
            }
        }
        .menu {
            .menu-list {
                @include flex($gap: 57px);
                li {
                    position: relative;
                    &:hover{
                        .dropdown{
                            display: block;
                        }
                    }
                    a {
                        @include text($colrs: #1B1B1B, $f_size: 12px, $f_weight: 500, $l_heit: 12px, $l_spacing: 1.2px, $t_transform: uppercase);
                        position: relative;
                        &::after{
                            content: '';
                            @include img($wid:0%,$heit:1px);
                            @include position($position:absolute,$top:100%,$left:0);
                            background: currentColor;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    .dropdown{
                        @include position($position:absolute,$top:100%,$left:0,$z_index:2);
                        padding-top: 40px;
                        background-color: #fff;
                        display: none;
                    }
                }
            }
        }
        .mobile-menu {
            display: block;
            @include breakpoint('large'){
                display: none;
            }
            // @media (max-width:768px) {
            //     display: block;

            //     .nav-link {
            //         @include Flex($a_items: center, $gap: 20px, $f_direction: column);
            //         @include Img($pos: absolute, $top: 90px, $right: 0px, $wid: 100%, $heit: 50vh, $z_index: 999);
            //         background-color: $white_color;
            //         transform: translateX(100%);
            //         transition: .9s ease-in-out;

            //         li {
            //             a {
            //                 @include Text($f_size: 12px, $f_style: normal, $f_weight: $weight_500, $l_heit: 22px, $colrs: $b1_color, $l_spacing: 1.2px, $t_decoration: none);
            //             }
            //         }
            //     }

            //     .burger {
            //         cursor: pointer;

            //         .bar {
            //             width: 25px;
            //             height: 3px;
            //             background-color: $red_color;
            //             margin: 5px;
            //         }
            //     }
            // }
        }
    }
}