.header {
    padding: 46px 0px;
    .all {
        @include flex($j_content: space-between, $a_items: center);
        .logo {
            width: 205px;
            img {
                @include img($wid: 100%, $o_fit: cover, $o_pos: center)
            }
        }
        .menu {
            // @include flex($gap: 50px);
            .menu-list {
                @include flex($gap: 57px);
                li {
                    position: relative;
                    &:hover{
                        .dropdown{
                            display: block;
                        }
                    }
                    a {
                        @include text($colrs: #1B1B1B, $f_size: 12px, $f_weight: 500, $l_heit: 12px, $l_spacing: 1.2px, $t_transform: uppercase);
                        position: relative;
                        &::after{
                            content: '';
                            @include img($wid:0%,$heit:1px);
                            @include position($position:absolute,$top:100%,$left:0);
                            background: currentColor;
                            transition: all 0.3s ease-in-out;
                        }
                        &:hover{
                            &::after{
                                width: 100%;
                            }
                        }
                    }
                    .dropdown{
                        @include position($position:absolute,$top:100%,$left:-30px,$z_index:2);
                        padding-top: 40px;
                        background-color: #fff;
                        display: none;
                        width: 210px;
                        padding: 55px 0 10px 0;
                        li{
                            padding: 8px 26px;
                            .dropdown_link{
                                text-transform: capitalize;
                            }
                        }
                    }
                    .container_content{
                        .dropwidth{
                            width: 1340px;
                            transform: translateX(-57%);
                            .flexbl{
                                @include flex($j_content:space-around);
                                .downlist{
                                    h5{
                                        padding: 0 26px 14px;
                                        margin: 0;
                                        font-family: 'Playfair Display', serif;
                                        @include text($f_size:22px,$l_heit:1.1rem,$colrs:#1B1B1B);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cart{
                a{
                    @include text($colrs: #1B1B1B, $f_size: 12px, $f_weight: 500, $l_heit: 12px, $l_spacing: 1.2px, $t_transform: uppercase);
                }
            }
            display: none;
            @include breakpoint('wide'){
            @include flex($gap: 50px);
            }
        }
    }
}