@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital@0;1&display=swap");
#menu {
  padding: 30px 0px;
}
#menu .all {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#menu .all img {
  width: 210px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#menu .all .list ul {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
}
@media (max-width: 768px) {
  #menu .all .list ul {
    display: none;
  }
}
#menu .all .list ul li .fix {
  color: #f34f3f;
}
#menu .all .list ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 22px;
  font-style: normal;
  transition: 0.3s ease-in-out;
}
#menu .all .list ul li a:hover {
  color: #f34f3f;
}
#menu .all .mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  #menu .all .mobile-menu {
    display: block;
  }
  #menu .all .mobile-menu .nav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 90px;
    z-index: 999;
    right: 0px;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: 0.9s ease-in-out;
  }
  #menu .all .mobile-menu .nav-link li a {
    text-decoration: none;
    color: #1b1b1b;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 22px;
    font-style: normal;
  }
  #menu .all .mobile-menu .burger {
    cursor: pointer;
  }
  #menu .all .mobile-menu .burger .bar {
    width: 25px;
    height: 3px;
    background-color: #f34f3f;
    margin: 5px;
  }
}

.nav-active {
  transform: translateX(0) !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 999;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown .dropbtn {
  color: white;
  border: none;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 200px;
  top: 25px;
  left: -35px;
  padding: 20px 0px;
  z-index: 1;
  transition: 0.9s ease-in-out;
}
.dropdown .dropdown-content a {
  padding: 12px 35px;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.9s ease-in-out;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}

html,
body {
  position: relative;
  height: 100%;
}

#anime .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
#anime .swiper .text {
  padding: 0px 186px;
  position: absolute;
  top: 15%;
  z-index: 999;
  left: 50px;
}
@media (max-width: 1024px) {
  #anime .swiper .text {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 0px 50px;
  }
}
#anime .swiper .text h2 {
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#anime .swiper .text h2 span {
  color: #f34f3f;
}
#anime .swiper .text .one {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: "Lora", serif;
  padding: 20px 0px;
}
#anime .swiper .text .sara {
  width: 197px;
  height: 56px;
}
#anime .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#anime .swiper .swiper-slide img {
  width: 100%;
  height: 477px;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  animation: scale 9s linear infinite;
}
@keyframes scale {
  0% {
    transform: scale(1.01);
  }
  20% {
    transform: scale(1.03);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.07);
  }
  80% {
    transform: scale(1.09);
  }
}
#anime .swiper .swiper-slide p {
  padding: 30px 0px;
  width: 613px;
  color: #4B4747;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  font-style: italic;
  font-family: "Lora", serif;
}
#anime .swiper .swiper-slide .one {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
@media (max-width: 768px) {
  #anime .swiper .swiper-button-next {
    display: none;
  }
}
#anime .swiper .swiper-button-next i {
  color: #b5b0b0;
  font-size: 40px;
  transition: 0.3s ease-in-out;
}
#anime .swiper .swiper-button-next i:hover {
  color: #1b1b1b;
}
#anime .swiper .swiper-button-next::after {
  content: "";
}
@media (max-width: 768px) {
  #anime .swiper .swiper-button-prev {
    display: none;
  }
}
#anime .swiper .swiper-button-prev i {
  color: #b5b0b0;
  font-size: 40px;
  transition: 0.3s ease-in-out;
}
#anime .swiper .swiper-button-prev i:hover {
  color: #1b1b1b;
}
#anime .swiper .swiper-button-prev::after {
  content: "";
}

#flower {
  padding: 50px 0px;
}
#flower .container .list ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  #flower .container .list ul {
    display: none;
  }
}
#flower .container .list ul li .fix {
  color: #f34f3f;
}
#flower .container .list ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  transition: 0.3s ease-in-out;
}
#flower .container .list ul li a:hover {
  color: #f34f3f;
}
#flower .container .img {
  width: 100%;
}
#flower .container .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  padding: 20px 0px;
}
#flower .container .img img:hover {
  transform: scale(1.04);
}
#flower .container .text {
  text-align: center;
}
#flower .container .text h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  font-style: normal;
}
#flower .container .text a {
  text-decoration: none;
  color: #afafaf;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  font-style: normal;
  display: none;
}
#flower .container .text p {
  color: #afafaf;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  font-style: normal;
}

#video {
  background-color: #f8f8f8;
  padding: 50px 0px;
}
#video .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#video .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#video .img img:hover {
  transform: scale(1.04);
}
#video .img button {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px;
  border-radius: 50px;
}
#video .img button i {
  color: #f34f3f;
  font-size: 30px;
}
#video .text {
  padding: 0px 90px;
}
#video .text h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#video .text h2 span {
  color: #f34f3f;
}
#video .text .one {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: "Lora", serif;
  padding: 20px 0px;
}
#video .text .heart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
#video .text .heart .two {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  margin: 0;
}

#human .container .text {
  padding: 50px 0px;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}
#human .container .text h2 {
  color: #2b2b2b;
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#human .container .text p {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: "Lora", serif;
}
#human .container .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#human .container .txt {
  text-align: center;
  padding: 30px 0px;
}
#human .container .txt h6 {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
#human .container .txt span {
  color: #afafaf;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}

#fixed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#fixed .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#fixed .container h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#fixed .container form {
  display: flex;
}
@media (max-width: 768px) {
  #fixed .container form {
    width: 100%;
  }
}
#fixed .container form .white {
  padding: 22px 19px 23px;
  width: 467px;
  height: 60px;
  color: #959595;
  font-size: 12px;
  font-weight: 400;
  background: #ffffff;
  border: 1px solid #E8E8E8;
  line-height: 15px;
  font-style: normal;
}
#fixed .container form .red {
  padding: 0.5px 43.1656px 0px 43.3656px;
  width: 169px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background: #f34f3f;
  border: 1px;
  line-height: 60px;
  font-style: normal;
}

#blog {
  background: #f8f8f8;
  padding: 20px 0px;
}
#blog .container .txt {
  padding: 50px 0px;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}
#blog .container .txt h2 {
  color: #2b2b2b;
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#blog .container .txt p {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: "Lora", serif;
}
#blog .container .all {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#blog .container .all .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#blog .container .all .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#blog .container .all .img img:hover {
  transform: scale(1.04);
}
#blog .container .all .img .pos {
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 312px;
  text-align: center;
  background: #fefaf3;
}
#blog .container .all .img .pos a {
  text-decoration: none;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  font-style: normal;
  transition: 0.2s ease-in-out;
}
#blog .container .all .img .pos a:hover {
  color: #f34f3f;
}
#blog .container .all .text {
  text-align: center;
  padding: 30px 0px;
}
#blog .container .all .text a {
  text-decoration: none;
  color: #2b2b2b;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#blog .container .all .text p {
  color: #6d6a6a;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  font-family: "Lora", serif;
}

#swiper .container {
  max-width: 960px;
  height: 506px;
}
#swiper .container .swiper {
  width: 100%;
  height: 100%;
}
#swiper .container .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#swiper .container .swiper .swiper-slide img {
  width: 87px;
  height: 87px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#swiper .container .swiper .swiper-slide p {
  padding: 30px 0px;
  width: 613px;
  color: #4B4747;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  font-style: italic;
  font-family: "Lora", serif;
}
#swiper .container .swiper .swiper-slide .one {
  color: #1b1b1b;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
#swiper .container .swiper .swiper-slide .two {
  color: #afafaf;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}
@media (max-width: 768px) {
  #swiper .container .swiper .swiper-button-next {
    display: none;
  }
}
#swiper .container .swiper .swiper-button-next i {
  color: #b5b0b0;
  font-size: 40px;
  transition: 0.3s ease-in-out;
}
#swiper .container .swiper .swiper-button-next i:hover {
  color: #1b1b1b;
}
#swiper .container .swiper .swiper-button-next::after {
  content: "";
}
@media (max-width: 768px) {
  #swiper .container .swiper .swiper-button-prev {
    display: none;
  }
}
#swiper .container .swiper .swiper-button-prev i {
  color: #b5b0b0;
  font-size: 40px;
  transition: 0.3s ease-in-out;
}
#swiper .container .swiper .swiper-button-prev i:hover {
  color: #1b1b1b;
}
#swiper .container .swiper .swiper-button-prev::after {
  content: "";
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background: none;
  margin: auto;
  padding: 20px;
  width: 50%;
}

/* The Close Button */
P .close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#aboutus h1 {
  color: #0e0e0e;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.32rem;
  font-family: "Playfair Display", serif;
}
#aboutus span {
  padding: 20px 0px;
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
  font-family: "Lora", serif;
}

#video1 {
  padding: 100px 0px;
}
#video1 .row {
  display: flex;
  flex-direction: row-reverse;
}
#video1 .row .img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#video1 .row .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
#video1 .row .img img:hover {
  transform: scale(1.04);
}
#video1 .row .text {
  padding: 0px 90px;
}
#video1 .row .text h2 {
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#video1 .row .text h2 span {
  color: #f34f3f;
}
#video1 .row .text .one {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  font-family: "Lora", serif;
  padding: 20px 0px;
}
#video1 .row .text .heart {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
}
#video1 .row .text .heart .two {
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  font-style: normal;
  margin: 0;
}

#message {
  padding: 50px 0px;
}
#message .container .flow {
  text-align: center;
  background: #f8f8f8;
  padding: 70px 0px;
}
#message .container .flow .qirl {
  width: 154px;
  height: 154px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#message .container .flow .txt {
  padding: 20px 70px;
}
#message .container .flow .txt h2 {
  color: #2b2b2b;
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#message .container .flow .txt h2 span {
  color: #f34f3f;
}
#message .container .flow .txt p {
  padding: 10px 0px;
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  font-family: "Lora", serif;
}
#message .container .flow .sara {
  width: 197px;
  height: 56px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#message .container .touch {
  padding: 0px 50px;
}
#message .container .touch .txt h2 {
  color: #2b2b2b;
  font-size: 38px;
  font-weight: 400;
  line-height: 55px;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
#message .container .touch .txt p {
  padding: 10px 0px;
  color: #6d6a6a;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  font-style: normal;
  font-family: "Lora", serif;
}
#message .container .touch form input {
  color: #959595;
  font-size: 12px;
  font-weight: inherit;
  background: #ffffff;
  border: 1px solid #E8E8E8;
  line-height: 20px;
  width: 100%;
  margin: 0 0 15px;
  padding: 19px 18px;
}
#message .container .touch form textarea {
  color: #959595;
  font-size: 12px;
  font-weight: inherit;
  background: #ffffff;
  border: 1px solid #E8E8E8;
  line-height: 20px;
  width: 100%;
  margin: 0 0 15px;
  padding: 19px 18px;
}
#message .container .touch form .sory {
  width: 199.16px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  background: #f34f3f;
  letter-spacing: 1.2px;
  line-height: 20px;
  height: 60.5px;
}

#end {
  background: #fefaf3;
}
#end .container h6 {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 2em;
  padding: 20px 0px;
}
#end .container ul {
  padding-left: 0;
}
#end .container ul li {
  padding: 0 0 3px;
}
#end .container ul li a {
  text-decoration: none;
  color: #8B8B8B;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  transition: 0.2s ease-in-out;
}
#end .container ul li a:hover {
  color: #f34f3f;
}
#end .container hr {
  color: #eceae1;
  opacity: 1;
}
#end .container .contact {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  #end .container .contact {
    display: flex;
    flex-direction: column;
  }
}
#end .container .contact .qode {
  color: #afafaf;
  font-size: 12px;
  line-height: 24px;
}
#end .container .contact .qode a {
  text-decoration: none;
  color: #6d6a6a;
  transition: 0.2s ease-in-out;
}
#end .container .contact .qode a:hover {
  color: #f34f3f;
}
#end .container .contact .sosial a {
  text-decoration: none;
  color: #afafaf;
  font-size: 10px;
  font-weight: 300;
  line-height: 24px;
  padding: 0px 10px;
  transition: 0.2s ease-in-out;
}
#end .container .contact .sosial a:hover {
  color: #f34f3f;
}/*# sourceMappingURL=style.css.map */